<div class="card-container" (click)="onClick()">
  <ng-container *ngIf="imgUrl; else noImage">
    <img class="poster" [src]="imgUrl" />
  </ng-container>
  <div
    class="rating-box primary-background"
    *ngIf="details?.vote_average && details?.vote_count"
    matTooltipClass="trigger-tooltip"
    [matTooltip]="'Votes: ' + details?.vote_count"
  >
    <span class="text">
      {{ details?.vote_average }}
    </span>
  </div>
  <div class="card-info">
    <ng-content></ng-content>
  </div>
</div>

<ng-template #noImage>
  <img class="poster" src="assets/png/no-image.png" />
</ng-template>
