@import "variables";

.container {
  display: flex;
  flex-direction: column;
  padding: 0 4em;
  height: 100%;
}

.logo {
  background-image: url($logo-url);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 160px;
  margin: auto;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .container {
    padding: 0 1.5em;
  }
}
