<div class="container">
  <nav mat-tab-nav-bar>
    <a
      *ngFor="let tab of navigationTabs"
      mat-tab-link
      class="navigation-tab"
      [ngClass]="{ active: selectedTab == tab.link }"
      [active]="selectedTab == tab.link"
      [routerLink]="tab.link"
      (click)="selectTab(tab.link)"
    >
      {{ tab.displayName }}
    </a>
  </nav>
  <form class="search-container" [formGroup]="form">
    <mat-form-field
      class="custom-form-field"
      [appearance]="'outline'"
      floatLabel="always"
    >
      <mat-icon matPrefix>search</mat-icon>
      <input
        matInput
        formControlName="searchBox"
        [placeholder]="'Search'"
        type="search"
      />
    </mat-form-field>
  </form>
</div>
