<div class="container">
  <div class="left">
    <span class="title">{{ data?.title }}</span>
    <div fxLayout="row" fxLayoutGap="10px">
      <span *ngIf="data?.release_date" class="text" matTooltip="Release date">
        {{ data?.release_date | date }}</span
      >
      <ng-container *ngIf="data?.runtime">
        <mat-divider class="accent" [vertical]="true"></mat-divider>
        <span class="text" matTooltip="Movie duration">{{
          data?.runtime + "min"
        }}</span>
      </ng-container>
      <ng-container *ngIf="data?.revenue">
        <mat-divider class="accent" [vertical]="true"></mat-divider>
        <span class="text" matTooltip="Earned revenue">
          {{ data?.revenue | currency }}</span
        >
      </ng-container>
    </div>
  </div>
  <div class="right">
    <div fxLayout="column" fxLayoutGap="5px">
      <span class="text">Rating</span>
      <div
        class="rating-box primary-background"
        *ngIf="data?.vote_average && data?.vote_count"
        matTooltipClass="trigger-tooltip"
        [matTooltip]="'Votes: ' + data?.vote_count"
      >
        <span class="text">
          {{ data?.vote_average }}
        </span>
      </div>
    </div>
  </div>
</div>
